.body {
    background-color: #FFF;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
  list-style-position: outside;
}

.header__link {
  text-underline-offset: 5px;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 1.24;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  color: white;
  gap: 106px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.cover__title-line {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 0px;
}

.cover__description {
  position: relative;
  display: flex;
  align-items: center;
  gap: 107px;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.2;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  /* flex-grow: 1; */
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  margin-top: 30px;
  z-index: 2;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  padding: 30px 0 0 40px;
  color: inherit;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  margin-top: 133px;
  margin-bottom: 13px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  margin-top: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px 82px 50px;
  font-size: 18px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  font-style: normal;
  text-underline-offset: 5px;
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  text-align: center; 
}

.footer__menu-link--active {
  text-decoration: none;
}

.footer__socials-list {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
  justify-self: end; 
}
