/* .body {
    background-color: #FFF;
} */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
}

.header-menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  list-style-position: outside;
}

.header-menu-link {
  text-underline-offset: 5px;
  white-space: nowrap;
}

.header-menu-item-active {
  list-style: none;
}

.header-menu-link-active {
  text-decoration: none;
}

.header-logo-img {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  max-width: 235px;
  font-style: normal;
  margin-left: 184px;
  line-height: 1.24;
  text-underline-offset: 3px;
}

.cover {
    height: 757px;
    padding: 165px 50px 50px;
    background-color:aquamarine;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lots {
    height: 723px;
    background-color:blue;
    margin: 180px 24px 120px;
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-book {
    background-image: url("../images/card-lot-02.jpg");
}

.card-painting {
    background-image: url("../images/card-lot-03.jpg");
}

.about {
    height: 595px;
    background-color:blueviolet;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 180px;
}

.footer {
    height: 180px;
    background-color:brown;
}
