.body {
    background-color: #FFF;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
  list-style-position: outside;
}

.header__link {
  text-underline-offset: 5px;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 1.24;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px;
  color: white;
  gap: 106px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.cover__title-line {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 0px;
}

.cover__description {
  position: relative;
  display: flex;
  align-items: center;
  gap: 107px;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.2;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  color: inherit;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}







.lots {
    height: 723px;
    background-color:blue;
    margin: 180px 24px 120px;
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-film {
    background-image: url("../images/card-lot-01.jpg");
}

.card-book {
    background-image: url("../images/card-lot-02.jpg");
}

.card-painting {
    background-image: url("../images/card-lot-03.jpg");
}

.about {
    height: 595px;
    background-color:blueviolet;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 180px;
}

.footer {
    height: 180px;
    background-color:brown;
}
